.pokemon-detail {
  width: 1400px;
  height: 2000px;
  /* background-image: url("https://sg.portal-pokemon.com/play/resources/pokedex/img/main_bg.jpg"); */
  background-image: url("https://sg.portal-pokemon.com/play/resources/pokedex/img/main_bg_v15.jpg");
  background-position: top;
  background-repeat: no-repeat, repeat;
  background-size: 100% auto;
  background-color: #0a141e;
  margin: 0 auto;
  position: relative;
}
.pokemon-detail__header {
  width: 100%;
  height: 5%;
  margin-bottom: 30px;
}
.pokemon-detail__header p {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  top: 42px;
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
}
.pokemon-detail__slider {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.pokemon-detail__slider .left {
  position: relative;
  width: 30%;
  height: 100%;
  background-image: url("https://sg.portal-pokemon.com/play/resources/pokedex/img/arrow_pc_left.png");
  background-repeat: no-repeat;
}
.pokemon-detail__slider .left img {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 15%;
  cursor: pointer;
  z-index: 30;
}
.pokemon-detail__slider .left p {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  left: 36%;
  top: 15px;
}
.pokemon-detail__slider .left span {
  margin-right: 1rem;
  color: #b3eafe;
}
.pokemon-detail__slider .right {
  position: relative;
  right: 0;
  width: 30%;
  height: 100%;
  background-image: url("https://sg.portal-pokemon.com/play/resources/pokedex/img/arrow_pc_right.png");
  background-repeat: no-repeat;
}
.pokemon-detail__slider .right img {
  top: 20%;
  position: absolute;
  right: 40px;
  width: 15%;
  cursor: pointer;
  z-index: 30;
}
.pokemon-detail__slider .right p {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  top: 15px;
  right: 36%;
}
.pokemon-detail__slider .right span {
  margin-left: 1rem;
  color: #b3eafe;
}
.pokemon-detail__slider .pokemon-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.pokemon-detail__slider .pokemon-name p {
  color: #b3eafe;
  font-size: 2.5rem;
}
.pokemon-detail__slider .pokemon-name h1 {
  line-height: 2.2rem;
  font-size: 3.3rem;
  color: #fff;
  text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
  padding-bottom: 14px;
}
.pokemon-detail__profile {
  width: 100%;
  height: 30rem;
  margin-top: -50px;
}
.pokemon-detail__profile .pokemon-main {
  position: relative;
}
.pokemon-detail__profile .pokemon-main__center {
  width: 42.85%;
  margin: 0 auto;
}
.pokemon-detail__profile .pokemon-main__center .pokemon-img {
  position: relative;
}
.pokemon-detail__profile .pokemon-main__center .pokemon-img__back {
  animation: spin 4s infinite linear;
  z-index: 10;
}
.pokemon-detail__profile .pokemon-main__center .pokemon-img__blur {
  width: 66.7%;
  top: 16.8%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pokemon-detail__profile .pokemon-main__center .pokemon-img__front {
  width: 66.7%;
  top: 16.8%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pokemon-detail__profile .pokemon-main__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
  height: 100%;
  margin: 0 auto;
}
.pokemon-detail__profile .pokemon-info {
  margin-top: 41%;
  height: 46.5%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 1.5rem;
  row-gap: 0;
  font-size: 1.2rem;
  color: white;
}
.pokemon-detail__profile .pokemon-info span p:nth-child(1) {
  color: #b3eafe;
}
.pokemon-detail__profile .pokemon-info span img {
  width: 1.5rem;
  height: 1.5rem;
}
.pokemon-detail__profile .pokemon-main__upper-left {
  width: 25%;
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 10%;
  margin: 0 auto;
  z-index: 110;
}

.pokemon-detail__profile .pokemon-main__upper-left .pokemon-type__title {
  width: 68%;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
}
.pokemon-detail__profile .pokemon-main__upper-left .pokemon-type {
  position: relative;
  color: #fff;
  text-align: center;
}
.pokemon-detail__profile .pokemon-main__upper-left .pokemon-type__type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 1em;
  margin: 0.9em 0;
  width: 69.5%;
  font-size: 1.3rem;
  text-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
.pokemon-detail__profile .pokemon-main__bottom-left {
  width: 28.8%;
  position: absolute;
  top: 45%;
  left: 8%;
  z-index: 110;
}
.pokemon-detail__profile .pokemon-main__bottom-left .pokemon-type__title {
  width: 72%;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.pokemon-detail__profile .pokemon-main__bottom-left .pokemon-type {
  color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 1.2rem;
}
.pokemon-detail__profile .pokemon-main__bottom-left .pokemon-type__type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  width: 35%;
  font-size: 1.3rem;
  text-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
