.pokemon-detail__stats {
  position: relative;
  top: 2.7%;
  width: 100%;
  height: 322px;
}
.pokemon-detail__stats .left {
  width: 40%;
  height: 100%;
  padding-top: 0.6rem;
  padding-left: 3rem;
}
.pokemon-detail__stats .left div {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
  z-index: 30;
}
.pokemon-detail__stats .left div h2 {
  font-size: 1.8rem;
  color: #b3eafe;
  margin-right: 1rem;
}
.pokemon-detail__stats .left div img {
  width: 6%;
  height: 6%;
  object-fit: contain;
  cursor: pointer;
  z-index: 999;
}
.pokemon-detail__stats .left p {
  max-width: 400px;
  color: white;
  font-size: 1.4rem;
}
.pokemon-detail__stats .right {
  position: absolute;
  right: 2%;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.pokemon-detail__stats .right div {
  display: flex;
  gap: 1rem;
}
.pokemon-detail__stats .right .statsName p {
  width: 7rem;
  font-size: 0.9rem;
}

.pokemon-detail__stats .right div p {
  color: #b3eafe;
  text-align: center;
}
.pokemon-detail__stats .right div div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
}
.pokemon-detail__stats .right div div div {
  width: 7rem;
  height: 1rem;
  background-color: #0a141e;
  border: 1px solid #466e9b;
}

.essa {
  background-color: #32b4ff !important;
  -webkit-box-shadow: 0 0 6px !important;
  box-shadow: 0 0 6px !important;
  color: #b3eafe;
}
.essa1 {
  background-color: #64c8ff !important;
  -webkit-box-shadow: 0 0 6px !important;
  box-shadow: 0 0 6px !important;
  color: #b3eafe;
}
.essa2 {
  background-color: #88dffe !important;
  -webkit-box-shadow: 0 0 6px !important;
  box-shadow: 0 0 6px !important;
  color: #b3eafe;
}
